* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #424242;
  }
  
  /* Skip link */
  .skip-link {
    position: absolute;
    top: -80px;
    left: 0;
    text-decoration: none;
    background-color: #1a374d;
    color: white;
    padding: 8px;
    z-index: 10;
  }
  
  .skip-link:focus {
    top: 0;
  }
  
  .action-btn {
    color: white;
    border: 1px solid transparent;
    text-decoration: none;
  }
  
  .action-btn:hover {
    color: #1a374d;
    border: 1px solid #1a374d;
    background-color: white;
    transition: 0.3s;
    text-decoration: none;
  }
  
  .active {
    display: block;
  }
  
  .formPengurus {
    display: none;
  }
  
  .formDivisi {
    display: none;
  }
  
  .formJabatan {
    display: block;
  }
  
  /* Header */
  
  .header {
    min-height: 50px;
    transition: min-height 0.3s;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #406882;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .header__inner {
    width: 100%;
    text-align: center;
    margin-left: 10px;
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  
  .header__title {
    font-weight: 300;
    font-size: 2em;
    font-family: 'Paytone One', sans-serif;
    margin: 0 0.25em;
    display: inline-block;
    color: white;
  }
  
  /* Navbar */
  .nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: right;
  }
  
  .nav__item {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    padding: 24px;
    text-transform: uppercase;
  }
  
  .nav a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    min-width: 44px;
    min-height: 44px;
  }
  
  .nav a:hover {
    text-decoration: underline;
    color: #000;
  }
  
  /* Hero */
  .hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-color: green;
  }
  
  .hero__inner {
    margin: 0 auto;
    max-width: 100%;
  }
  
  .hero__title {
    color: #1a374d;
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .hero__button {
    display: inline-block;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-top: 24px;
    cursor: pointer;
    padding: 22px 44px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #1a374d;
    transition: opacity 0.3s;
    text-decoration: none;
  }
  
  /* main */
  #main-content {
    padding: 32px;
  }
  
  .explore__content {
    width: 100%;
    margin: 30px auto;
    text-align: center;
  }
  
  .main-content__title {
    font-size: 32px;
    font-weight: lighter;
  }
  
  .main-content__title::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
  }
  /* explore items */
  
  .explore-items {
    margin: 32px auto auto;
    text-align: left;
    overflow: auto;
    display: grid;
    gap: 15px;
  }
  
  .explore-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
    transition: transform 0.3s;
  }
  
  .explore-item:hover {
    transform: scale(0.97);
  }
  
  .explore-item a {
    text-decoration: none;
    color: unset;
  }
  
  .explore-item__thumbnail {
    width: 100%;
  }
  
  .explore-item__content {
    padding: 16px 16px 32px 16px;
    text-align: left;
  }
  
  .explore-item__title {
    font-weight: 500;
    font-size: 18px;
    margin-top: 16px;
    transition: 0.3s opacity;
  }
  
  .explore-item__description {
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  .explore-item__content-title {
    text-align: center;
    line-height: 1.6;
  }
  
  .explore-item__ratings {
    text-align: center;
  }
  
  .explore-item__time {
    display: block;
    text-align: center;
  }
  
  .img-container {
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    max-height: 600px;
  }
  
  .img-container img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: top;
  }
  
  .explore-item__rating {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: large;
    border-radius: 0 0 20px 0;
    background-color: #1a374d;
    padding: 0.4em 1.3em;
    z-index: 1;
  }
  
  .explore-item__rating .fa {
    font-size: smaller;
    padding: 0.3em 0.8em 0.3em 0;
    color: white;
  }
  
  .action-btn-wrapper {
    text-align: center;
    margin-top: 20px;
    color: white;
  }
  
  .action-btn {
    padding: 10px 20px;
    background-color: #1a374d;
    border-radius: 30px;
  }
  
  /* footer */
  footer {
    padding: 2em;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #406882;
  }
  
  footer ul {
    list-style: none;
  }
  
  footer li {
    margin: 0.3em 0;
    font-size: 14px;
  }
  
  /*
     Like
  */
  .like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #1a374d;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  
  /* Favorite */
  .favorite__title {
    font-size: 24px;
    text-align: center;
  }
  